:root {
    --tooltip-blackcurrant-background: #463E53;
    --tooltip-blackcurrant-arrow: #463E53;
    --tooltip-blackcurrant-color: #9df2a4;
    --tooltip-blackcurrant-font: 16px "Helvetica Neue", Helvetica, sans-serif;
}
