:root {
    --tooltip-tomato-background: tomato;
    --tooltip-tomato-arrow: tomato;
    --tooltip-tomato-color: yellow;
    --tooltip-tomato-font: bold italic 15px/20px Arial, "Helvetica Neue", Helvetica, sans-serif;
    --tooltip-tomato-shadow: 10px 10px 5px grey;
}